body, html
{
	margin : 0;
	width : 250px;
	height : 600px;
	#font-family: verdana;
	overflow-y : scroll;
	overflow-x : hidden; 
	font : 9px "Trebuchet MS", sans-serif;
	background-color : red
}

#imgBackground
{
}

#wrap
{
}

table
{
	margin: 0;
	#font-family: verdana;
	font: 9px "Trebuchet MS", sans-serif;
	width: 240px;
}

#gadgetContent
{
	margin: 0px;
	width: 230px;
	vertical-align: middle;
	text-align: center;
}

.customFooter
{
	margin: 0px;
	color: white;
	background-color: #606060;
}

#statusBar
{
	margin: 2px;
}

.itemListSingleItem
{
	margin-top: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: #a0a0a0;
	width: 240px;
}

.sectionTitle
{
	padding-top: 10px;
	font: 11px;
	font-weight: bold; 
	color: blue;
}

.tdForTwoCol { border: solid; vertical-align: middle; padding: 0px; border-color: #a0a0a0; border-width=1px  }

.selectedRow
{
	background-color: yellow;
}

.acc-menu-hdr
{
	background-color : #c0c0c0;
	font: 11px;
	font-weight: bold; 
	margin-top: 10px;
}

.selectedItem
{
	background-color: yellow;
}

.detailsTitle
{
	font: 11px;
	font-weight: bold; 
	color: blue
}

.detailsHierarchyTitle
{
	font: 11px;
	font-weight: bold; 
	color: blue
}

#nonGadgetFooter
{
	display : none;
	background-color : black;
	color : white;
}