body, html
{
	margin : 0;
	width : 320px;
	height : 600px;
	overflow-y : hidden;
	overflow-x : hidden; 
	font : 9px "Trebuchet MS", sans-serif;
}

.tabContent
{
	overflow-y : auto;
	overflow-x : hidden; 
	height: 520px;
}

#outerDiv
{
	margin : 0;
	height : 600px;
}

#wrap
{
	margin : 0;
	height : 600px;
}

table
{
	margin: 0;
	#font-family: verdana;
	font: 9px "Trebuchet MS", sans-serif;
}

#gadgetContent
{
	margin: 0px;
	vertical-align: middle;
	text-align: center;
}

.customFooter
{
	margin: 0px;
	color: white;
	background-color: #606060;
}

#statusBar
{
	margin: 2px;
}

.sectionTitle
{
	padding-top: 10px;
	font: 11px;
	font-weight: bold; 
	color: blue;
}

.twoColTable
{ 
	table-layout:fixed; 
	width:280px;
}

.twoColLeft
{
	border: solid; 
	padding: 0px; 
	border-color: #a0a0a0; 
	border-width=1px;
	white-space: nowrap;
	width: 13px;
}

.twoColTitle
{
	border: solid; 
	vertical-align: middle; 
	padding: 0px; 
	border-color: #a0a0a0; 
	border-width=1px;
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap;
}

.selectedRow
{
	background-color: yellow;
}

.acc-menu-hdr
{
	background-color : #c0c0c0;
	font: 11px;
	font-weight: bold; 
	margin-top: 10px;
}

.selectedItem
{
	background-color: yellow;
}

.detailsTitle
{
	font: 11px;
	font-weight: bold; 
	color: blue
}

.detailsHierarchyTitle
{
	font: 11px;
	font-weight: bold; 
	color: blue
}

#nonGadgetFooter
{
	display : none;
	background-color : black;
	color : white;
}

.logItem
{
	margin : 0;
}